{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<p>I am inside the index.handlebars page sam. its replacing the main body thing</p>

{{!-- Create a button in index.handlebars that will submit the user input into the database.
 --}} 

<div class="container">
    <div class="Jumbotron">
        <h1> Lets Eat Some Burgers!</h1>
        <p>Make a Burger. Eat the Burger.</p>
        <h2>Make Your Burger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newBurger">Order/Make a Fresh Burger</label>
                    <input type="text" id="newBurger" name="burgerName">
                    <button type="submit" class="btn  btn-success" id="addBurgerButton">
                        <span class="fa fa-thumbs-up"></span>
                    </button>

                </div>
            </form>
        </panel>
    </div>
</div>