{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<p>I am inside the index.handlebars page sam. its replacing the main body thing</p>

{{!-- Create a button in index.handlebars that will submit the user input into the database.
 --}} 

